.box{
    background-image:url('./img/tyre-push-2141096_1920.jpg');
    background-size: cover;
    
}
.overlay{
    background-color: rgba(75, 99, 235, 0.288); 
}
.chamada{
   padding: 12% 0 ;
}
.titulo{
    color: #fff;
    font-size: 6em;
}
.titulo2{
    color:  rgb(75, 99, 235) !important;
    font-size: 3em;
}
.texto{
    color: #fff;
}
.box-img{
    background-color: rgb(75, 99, 235);
    background-size: 80%;
    height: 380px;
}
.box3{
    padding-left:10% !important;
    padding-top: 5%;
}
.subtitulo{
    color: rgb(75, 99, 235);
    font-weight: bold;
    font-size: 1.3em;
}
.nevegacao{
    background-color: transparent !important;
}